name: Testing Feature with my code changes

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test-feature:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: lmvysakh/setup-dotnet@support_architecture
        with:
          dotnet-version: |
            8.0.x
            9.0.x
          architecture: x64

      - name: Show installed dotnet SDKs 
        run: |
          dotnet --list-sdks
          dotnet --info



 